<div class="mail-page">
  <app-page-header [headerText]="'Mails'"
                   [headerActionText]="'Create'"
                   (headerActionEvent)="openViewModal(modalActions.CREATE)"
  >
  </app-page-header>

  <div class="items-list" *ngIf="(mailsList$ | async) as mails">

    <div class="list-item" *ngFor="let mail of mails">

      <div class="list-item-content">
        <h3 class="list-header" *ngIf="mail.subject">{{mail.subject}}</h3>
        <div class="list-text">
          {{mail.text}}
        </div>
      </div>

      <div>
        <app-item-actions [actionsList]="listItemActions"
                          (actionEvent)="actionEventHandler($event, mail)"
        >
        </app-item-actions>
      </div>

    </div>

  </div>

</div>
